@import url(css/header.css);
@import url(css/feed.css);
@import url(css/profile.css);
@import url(css/sidebar-column.css);

:root {
    --black: #0F1419;
    --dark1: #17202A;
    --dark2: #1C2733;
    --dark3: #283340;
    --dark4: #3A444C;
    --dark5: #5B7083;
    --dark6: #8899A6;
    --dark7: #EBEEF0;
    --dark8: #F7F9FA;
    --blue: #1DA1F2;
    --green: #00ba7c;
    --red: #F4245E;
    --white: #FFFFFF;
    
    --header-icon: #0F1419;
    --t-primary: #0F1419;
    --t-gray: #5B7083;
    --border: #EBEEF0;
    --bg-color: #FFFFFF;
    --bg-hover:  rgb(136, 153, 166, .25);
    --container-bg-color: #F7F9FA;
    --sidebar-column-hover: #EBEEF0;
    --scroll: #EBEEF0;

    --title-72bold: 700 4.5rem/normal Roboto; 
    --title-32bold: 700 2rem/2.25rem Roboto; 
    --subtitle-22bold: 700 1.375rem/1.625rem Roboto; 
    --subtitle-22medium: 500 1.375rem/1.625rem Roboto; 
    --body-16bold: 700 1rem/1.25rem Roboto; 
    --body-16medium: 500 1rem/1.25rem Roboto; 
    --body-16regular: 400 1rem/1.25rem Roboto; 
    --body-16regular_u: 400 1rem/1.125rem Roboto; 
    --caption-12bold: 700 0.75rem/1rem Roboto;
}

.side-menu-item-text .text::selection, .side-menu-profile-name::selection, .side-menu-profile-user::selection,

.feed-block-1 .text::selection, .number::selection, .interaction-text::selection , .tweet-·::selection, .tweet-time::selection,

.sidebar-column-news-start .text::selection,.text-tittle::selection, .text-number::selection, .text-·::selection, .text-topic::selection, .text-date::selection, .text-tweets-numbers::selection, .sidebar-column-news-end .text::selection, .sidebar-column-follow-start .text::selection, .sidebar-column-follow-actions .text::selection, .sidebar-column-follow-end .text::selection, .sidebar-column-information::selection, 

div::selection, img::selection, br::selection {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100vh;
    overflow-x: hidden;
}

header {
    /* background-color: tomato; */
    width: 226px;
    height: 100%;
    /* position: fixed; */
}

main {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.feed {
    height: max-content;
    border-inline: 1.5px solid var(--border);
}

.feed-block-1, .profile-block-1 {
    border-bottom: 1.5px solid var(--border);
}
.feed-block-2, .profile-block-2 {
    border-bottom: 1.5px solid var(--border);
}
.feed-block-3, .profile-block-3 {
    border-bottom: 1.5px solid var(--border);
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    inline-size: 1rem;
    background: transparent;
}

  ::-webkit-scrollbar-thumb {
    inline-size: 1rem;
    background-color: var(--scroll);
}
  ::-webkit-scrollbar-button {
    inline-size: 0rem;
    block-size: 0rem;
    background: none;
}

@media only screen and (max-width: 1250px) {
    header {
        width: 80px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --t-gray: #8899A6;
        --t-primary: #FFFFFF;
        --border: #3A444C;
        --bg-color: #17202A;
        --bg-hover: #283340;
        --container-bg-color: #283340;
        --sidebar-column-hover: rgb(58, 68, 76, 0.5);
        --scroll: #3A444C;
    }
    
    header svg path {
        --header-icon: #FFFFFF;
    }
}